<!DOCTYPE html>
<html lang="ja">
<%-
  include('../_include/_head', {
    page: json['contact'], path: '../'
  });
%>
<body>
	<div class="l-page" id="contact">
		<script type="text/javascript" src="../assets/inc/tmpl-header.js" charset="UTF-8" id="thJS"></script>
		<main>
            <section class="cp-information">
                <div class="c-wrap u-alignCenter">
					<p class="c-heading">Personal Email</p>
					<p class="c-text"><a href="mailto:yko.iwata@gmail.com">yko.iwata@gmail.com</a></p>
                </div>
            </section>
		</main>
		<script type="text/javascript" src="../assets/inc/tmpl-footer.js" charset="UTF-8" id="tfJS"></script>
	</div>
	<%-
		include('../_include/_endBody', {
			page: json['contact'], path: '../'
		});
	%>
</body>
</html>
