@import '../../foundation/mixin/lineheight';
@import '../../foundation/mixin/media';
@import '../../foundation/variable/color';
@import '../../foundation/variable/font';

/* --------------------------------------------------------------------------------
  footer
-------------------------------------------------------------------------------- */
.p-footer {
  padding: 25px 0;
  text-align: center;
  font-size: 10px;

  &__inner {
    max-width: 1240px;
    margin: 0 auto;
  }

}
