@import '../../foundation/mixin/letterspacing';
@import '../../foundation/mixin/lineheight';
@import '../../foundation/mixin/media';
@import '../../foundation/variable/color';

/* --------------------------------------------------------------------------------
  low-main-visual
-------------------------------------------------------------------------------- */
.p-lowMainVisual {
  position: relative;
  max-width: 1240px;
  margin: 0 auto;

  &__title {
    padding: 0 0 60px;
    font-family: $goudy;
    font-size: 28px;
    background-color: $white;
    text-align: center;
    color: $dusty-teal;
    text-align: center;
    line-height: 1;
    @include ls_em(8.4, 28);

    @include sp {
      position: static;
      transform: none;
      padding: 15px 0 30px;
      font-size: 20px;
      @include ls_em(5.8, 20);
    }
  }

  &__caption {
    position: absolute;
    top: 100%;
    right: 0;
    padding: 10px 0 0;
    @include sp {
      position: static;
      padding: 5px 5px 0 0;
      text-align: right;
    }
  }
}
