@import '../../foundation/mixin/media';

/* --------------------------------------------------------------------------------
  pageIntroduction
-------------------------------------------------------------------------------- */
.p-pageIntroduction {
  padding: 100px 0 80px;
  @include sp {
    padding: 30px 0 50px;
  }

  .c-heading {
    padding-bottom: 40px;
    @include sp {
      padding-bottom: 30px;
      text-align: left;
    }
  }

  .c-text {
    text-align: center;
    @include sp {
      text-align: left;
    }
  }
}
