@import '../../foundation/mixin/letterspacing';
@import '../../foundation/mixin/lineheight';
@import '../../foundation/mixin/media';
@import '../../foundation/variable/color';

/* --------------------------------------------------------------------------------
  heading
-------------------------------------------------------------------------------- */
.c-heading {
  margin: 30px 0 15px;
  font-size: 18px;
  line-height: 1.5;
  @include lhCrop(1.5);
  @include ls_em(3.6, 24);
  color: $black;

  @include sp {
    font-size: 16px;
    @include ls_em(2.9, 19);
  }
}
