@import '../../foundation/mixin/letterspacing';
@import '../../foundation/mixin/lineheight';
@import '../../foundation/mixin/media';
@import '../../foundation/variable/color';

/* --------------------------------------------------------------------------------
  heading
-------------------------------------------------------------------------------- */
.c-heading {
  font-size: 24px;
  line-height: 1.5;
  @include lhCrop(1.5);
  @include ls_em(3.6, 24);
  text-align: center;
  color: $black;

  @include sp {
    font-size: 19px;
    @include ls_em(2.9, 19);
    text-align: left;
  }
}
