<%
  var _default = json['default'];
  for ( var key in _default ) {
    if ( typeof page[key] === 'undefined' ) {
      page[key] = _default[key];
    }
  }
-%>

<head>
	<!-- meta -->
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="format-detection" content="telephone=no">
	<!-- title -->
	<title><%= page.id != 'top' ? page.title + '｜' : page.title %>portfolio site</title>
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<!-- viewport -->
	<meta name="viewport" content="width=device-width, user-scalable=yes">
	<!-- link -->
	<link rel="start" href="/" title="ホーム" />
	<!-- google font -->
	<link href="https://fonts.googleapis.com/css?family=Sorts+Mill+Goudy&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Crimson+Text&display=swap" rel="stylesheet">
	<!-- style -->
	<link rel="stylesheet" type="text/css" href="<%= path; %>assets/css/common.css" />
	<link rel="stylesheet" type="text/css" href="./css/style.css" />
	<link rel="stylesheet" href="<%= path; %>assets/js/vendor/aos/aos.css">
</head>
