<%
  var _default = json['default'];
  for ( var key in _default ) {
    if ( typeof page[key] === 'undefined' ) {
      page[key] = _default[key];
    }
  }
-%>

<section class="p-lowMainVisual">
  <h2 class="p-lowMainVisual__title"><%= page.mvTitle %></h2>
  <figure class="c-imageWrap">
    <img src="./imgs/img-mainvisual.jpg" alt="<%= page.mvCaption %>">
    <figcaption class="c-caption p-lowMainVisual__caption"><%= page.mvCaption %></figcaption>
  </figure>
</section>
