@charset "utf-8";

@import '../assets/css/foundation/mixin/font-size';
@import '../assets/css/foundation/mixin/letterspacing';
@import '../assets/css/foundation/mixin/lineheight';
@import '../assets/css/foundation/mixin/media';
@import '../assets/css/foundation/variable/color';
@import '../assets/css/foundation/variable/font';

.cp-information {
    padding: 80px 0;
    @include sp {
        padding: 40px 0;
    }
    &__detail {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include sp {
            display: block;
        }
    }
    &__block {
        width: calc(70% - 20px);
        &:last-of-type {
            width: 30%;
            margin-top: 40px;
            @include sp {
                width: 60%;
                text-align: right;
            }
        }
        @include sp {
            width: 100%;
        }
    }
    &__list {
        font-family: $gothic;
    }
}