@charset "utf-8";

@import '../assets/css/foundation/mixin/font-size';
@import '../assets/css/foundation/mixin/letterspacing';
@import '../assets/css/foundation/mixin/lineheight';
@import '../assets/css/foundation/mixin/media';
@import '../assets/css/foundation/variable/color';
@import '../assets/css/foundation/variable/font';

.cp-information {
    padding: 100px 0;
    &__list {
        display: flex;
        justify-content: space-between;
        @include sp {
            display: block;
        }
    }
    &__block {
        width: calc(70% - 20px);
        &:last-of-type {
            width: 30%;
            @include sp {
                width: 100%;
                margin-top: 30px;
                text-align: right;
                img {
                    width: 60%;
                }
            }
        }
        @include sp {
            width: 100%;
        }
    }
}