@charset "utf-8";

@import '../assets/css/foundation/mixin/font-size';
@import '../assets/css/foundation/mixin/letterspacing';
@import '../assets/css/foundation/mixin/lineheight';
@import '../assets/css/foundation/mixin/media';
@import '../assets/css/foundation/variable/color';
@import '../assets/css/foundation/variable/font';

/* --------------------------------------------------------------------------------
  cp-topMainVisual
-------------------------------------------------------------------------------- */
.cp-topMainVisual {
  position: relative;

  &__image {
    width: 100%;
  }

  &__title {
    position: absolute;
    top: calc(105 / 800 * 100%);
    left: 50%;
    width: calc(702 / 1440 * 100%);
    opacity: 0;
    animation: fadeIn 1s ease-in 1s forwards;
    transform: translateX(-50%);

    @include sp {
      width: calc(483 / 690 * 100%);
      top: calc(135 / 780 * 100%);
    }
  }

  &__titleInner {
    display: block;
  }

  &__titleImage {
    width: 100%;
  }
}

/* --------------------------------------------------------------------------------
  cp-usp
-------------------------------------------------------------------------------- */
.cp-usp {
  margin: 25px 0 120px;

  @include sp {
    margin: calc(100 / 750 * 25vw) 0 80px;
  }

  &__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 0 25px;
    border-bottom: 1px solid #ddd;

    @include sp {
      padding: 0 calc(100 / 750 * 30vw) calc(100 / 750 * 30vw);
    }
  }

  &__text {
    display: flex;
    align-items: center;
    height: 50px;
    font-size: 20px;
    line-height: 2.3;
    @include lhCrop(2.3);
    @include ls_em(3, 20);

    @include sp {
      display: block;
      height: calc(100 / 750 * 100vw);
      padding-top: calc(100 / 750 * 10vw);
      @include fz_vw(32);
      line-height: 1.44;
      @include lhCrop(1.44);
      @include ls_em(1.2, 32);
      text-align: center;
    }

    &:nth-of-type(1) {
      padding-right: 40px;
      border-right: 1px solid #eee;

      @include sp {
        padding-right: calc(100 / 750 * 30vw);
      }
    }

    &:nth-of-type(2) {
      margin: 0 2px;
      padding: 0 40px;
      border-right: 1px solid #eee;
      border-left: 1px solid #eee;

      @include sp {
        padding: calc(100 / 750 * 10vw) calc(100 / 750 * 30vw) 0;
      }
    }

    &:nth-of-type(3) {
      padding-left: 40px;
      border-left: 1px solid #eee;

      @include sp {
        padding-left: calc(100 / 750 * 30vw);
      }
    }
  }

  &__num {
    font-family: $crimson;
    font-size: 32px;
    @include ls_em(3.2, 32);
    color: #51919c;

    @include sp {
      @include fz_vw(44);
      @include ls_em(4.4, 44);
      line-height: 1;
    }
  }
}

/* --------------------------------------------------------------------------------
  information
-------------------------------------------------------------------------------- */
.cp-information {
  margin-bottom: 140px;

  @include sp {
    margin-bottom: 80px;
  }

  &__title {
    padding-bottom: 60px;
    font-family: $goudy;
    font-size: 16px;
    line-height: 1;
    letter-spacing: 1.6px;
    @include ls_em(1.6, 16);
    text-align: center;
    color: #a69b84;

    @include sp {
      padding-bottom: 40px;
      font-size: 14px;
      @include ls_em(2.8, 28)
    }
  }

  &__heading {
    padding-bottom: 30px;
    font-size: 34px;
    line-height: 1.35;
    @include lhCrop(1.35);
    @include ls_em(5.1, 34);
    text-align: center;
    color: $black;

    @include sp {
      padding-bottom: 20px;
      font-size: 32px;
      @include ls_em(9.6, 64);
    }
  }

  &__text {
    padding-bottom: 40px;
    font-family: $gothic;
    font-size: 16px;
    line-height: 1.75;
    @include lhCrop(1.75);
    @include ls_em(2.4, 16);
    letter-spacing: 2.4px;
    text-align: center;

    @include sp {
      padding-bottom: 30px;
      font-size: 12px;
      line-height: 1.67;
      @include lhCrop(1.67);
      @include ls_em(3.6, 24);
    }
  }

  &__request {
    display: block;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px 0;
    background-color: #c0e3e1;
    font-size: 18px;
    line-height: 1;
    @include ls_em(7.2, 18);
    text-align: center;
    color: #576665;

    @include pc {
      transition: .7s;

      &:hover {
        opacity: 0.7;
      }
    }

    @include sp {
      font-size: 16px;
      letter-spacing: 12.8px;
      @include ls_em(12.8, 32);
    }
  }
}

/* --------------------------------------------------------------------------------
  lowIntroduction
-------------------------------------------------------------------------------- */
.cp-lowIntroduction {
  position: relative;
  padding: 60px 0 240px;

  @include sp {
    margin-bottom: 50px;
    padding: 40px 0 0;
  }

  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: calc((100vw - 1440px) / 2 + 520px);
    height: 100%;
    background-image: linear-gradient(45deg, #eff9fd, #f9fbf3);
    opacity: 0;
    transition: 1s .5s;

    @include sp {
      padding: 40px 0;
      width: calc(380 / 750 * 100%);
      height: calc(100 / 750 * 900vw);
    }
  }

  &:last-of-type {
    margin-bottom: 0;
  }

  &--reverse {
    padding: 100px 0 200px;
    margin-top: -50px;

    @include sp {
      padding: 40px 0 0;
      margin-top: 0;
    }

    &:after {
      left: 0;
      right: auto;

      @include sp {
        right: 0;
        left: auto;
        padding: 40px 0;
        width: calc(380 / 750 * 100%);
        height: calc(100 / 750 * 900vw);
      }
    }
  }

  &.aos-animate {
    &::after {
      opacity: 1;
    }
  }


  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include sp {
      flex-direction: column-reverse;
      align-items: flex-start;
    }

    &--reverse {
      flex-direction: row-reverse;

      @include sp {
        flex-direction: column-reverse;
      }
    }
  }

  &__texts {
    position: relative;
    width: 340px;

    @include sp {
      width: auto;
      z-index: 4;
    }
  }

  &__titleBlock {
    padding-bottom: 50px;

    @include sp {
      padding-bottom: 35px;
    }
  }

  &__num {
    display: block;
    padding-bottom: 35px;
    font-family: $crimson;
    font-size: 40px;
    line-height: 1;
    letter-spacing: 2px;
    @include ls_em(2, 40);
    color: #51919c;

    @include sp {
      padding-bottom: 30px;
      font-size: 36px;
      line-height: 0.64;
      @include ls_em(3.6, 36);
    }
  }

  &__title {
    font-family: $goudy;
    font-size: 36px;
    line-height: 1;
    color: $black;

    @include sp {
      font-size: 32px;
    }
  }

  &__heading {
    padding-bottom: 30px;
    font-size: 20px;
    font-style: italic;
    line-height: 1.6;
    @include lhCrop(1.6);
    @include ls_em(4, 20);
    color: $black;

    @include sp {
      padding-bottom: 20px;
      font-size: 20px;
      line-height: 1.4;
      @include lhCrop(1.4);
      @include ls_em(8, 40);
    }
  }

  &__more {
    display: block;
    width: 160px;
    margin-top: 60px;
    padding: 10px 0;
    background-color: #e8e2d6;
    font-family: $goudy;
    line-height: 1;
    @include ls_em(2.1, 14);
    text-align: center;
    color: #6a6354;

    @include pc {
      transition: .7s;

      &:hover {
        opacity: 0.7;
      }
    }

    @include sp {
      margin-top: 35px;
      padding-top: 12px 0;
      font-size: 12px;
      @include ls_em(3.6, 24);
    }
  }

  &__images {
    position: relative;
    width: 420px;
    padding-right: 20px;
    z-index: 3;

    @include sp {
      width: calc(480 / 690 * 100%);
      padding-right: 0;
      margin-left: auto;
      text-align: right;
    }

    &::before {
      content: '';
      position: absolute;
      top: 130px;
      left: -60px;
      width: 320px;
      height: 400px;
      background: url("../imgs/bg-lowintroduction-01.png") no-repeat;
      z-index: 1;

      @include sp {
        top: calc(156 / 500 * 100%);
        left: calc(70 / 480 * (-100%));
        width: calc(384 / 480 * 100%);
        height: calc(480 / 500 * 100%);
        background: url("../imgs/sp/bg-lowintroduction-01.png") no-repeat;
        background-size: contain;
      }
    }

    &::after {
      content: '';
      position: absolute;
      right: -90px;
      bottom: -90px;
      width: 320px;
      height: 120px;
      background: url("../imgs/bg-lowintroduction-02.gif") no-repeat;
      z-index: 1;

      @media screen and (max-width: 1240px) {
        right: 0;
      }

      @include sp {
        right: calc(30 / 480 * (-100%));
        bottom: calc(100 / 500 * (-100%));
        width: calc(306 / 480 * 100%);
        height: calc(252 / 500 * 100%);
        background: url("../imgs/sp/bg-lowintroduction-02.gif") no-repeat;
        background-size: contain;
      }
    }

    &--reverse {
      padding-left: 20px;

      @include sp {
        padding-left: 0;
      }

      &::before {
        top: 130px;
        right: -60px;
        left: auto;
        background: url("../imgs/bg-lowintroduction-03.png") no-repeat;
        z-index: 1;

        @include sp {
          top: calc(156 / 500 * 100%);
          right: auto;
          left: calc(70 / 480 * (-100%));
          width: calc(384 / 480 * 100%);
          height: calc(480 / 500 * 100%);
          background: url("../imgs/sp/bg-lowintroduction-01.png") no-repeat;
          background-size: contain;
        }
      }

      &::after {
        right: auto;
        bottom: -90px;
        left: -90px;
        background: url("../imgs/bg-lowintroduction-04.gif") no-repeat;
        z-index: 1;

        @include sp {
          right: calc(30 / 480 * (-100%));
          bottom: calc(100 / 500 * (-100%));
          left: auto;
          width: calc(306 / 480 * 100%);
          height: calc(252 / 500 * 100%);
          background: url("../imgs/sp/bg-lowintroduction-02.gif") no-repeat;
          background-size: contain;
        }
      }
    }
  }

  &__caption {
    position: absolute;
    top: 0;
    right: 0;
    writing-mode: vertical-rl;

    @include sp {
      writing-mode: horizontal-tb;
      top: 100%;
      padding-top: 10px;
      z-index: 2;
    }

    &--reverse {
      right: auto;
      left: 0;

      @include sp {
        right: 0;
        left: auto;
      }
    }
  }

  &__imageWrap {
    position: relative;
    z-index: 2;
  }

  &__image {
    box-shadow: 25px 43.301px 50px 0px rgba(0, 0, 0, 0.1);
  }

  &__planCaption {
    padding-top: 20px;
  }
}

/* --------------------------------------------------------------------------------
  cp-googleMap
-------------------------------------------------------------------------------- */
.cp-googleMap {
  position: relative;
  width: 100%;
  height: 550px;
  margin-top: 200px;
  overflow: hidden;

  @include sp {
    height: 300px;
    margin-top: 80px;
  }

  &__iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
  }
}

/* --------------------------------------------------------------------------------
  keyframes
-------------------------------------------------------------------------------- */
@keyframes zoomOut {
  0% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
