<!DOCTYPE html>
<html lang="ja">
<%-
  include('./_include/_head', {
    page: json['top'], path: './'
  });
%>
<body>
	<div class="l-page" id="top">
		<main>

		</main>
	</div>
	<%-
		include('./_include/_endBody', {
			page: json['top'], path: './'
		});
	%>
</body>
</html>
