<!DOCTYPE html>
<html lang="ja">
<%-
  include('./_include/_head', {
    page: json['top'], path: './'
  });
%>
<body>
	<div class="l-page" id="top">
		<script type="text/javascript" src="./assets/inc/tmpl-header.js" charset="UTF-8" id="thJS"></script>
		<main>
			<section class="cp-information">
                <div class="c-wrap">
					<div class="cp-information__list">
						<div class="cp-information__block">
							<!-- <p class="c-text">Portfolio of Yuriko Mitani</p> -->
							<p class="c-text">2007年から東京でwebサイトの制作（コーディング）活動をしています。</p>
							<p class="c-text">HTML5 / CSS / JavaScript / jQuery / WordPress</p>
							<p class="c-text">趣味：散歩・メンタル強化・おかし作り</p>
							<p class="c-text">StrengthsFinder：共感性・成長促進・回復思考・ポジティブ・コミュニケーション</p>
						</div>
						<div class="cp-information__block">
							<div><img src="imgs/img-01.jpg" alt=""></div>
						</div>
					</div>
                </div>
            </section>
		</main>
		<script type="text/javascript" src="./assets/inc/tmpl-footer.js" charset="UTF-8" id="tfJS"></script>
	</div>
	<%-
		include('./_include/_endBody', {
			page: json['top'], path: './'
		});
	%>
</body>
</html>
